/*
  Abstracts
*/
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

/*
Libraries
*/
$slick-font-path: '~modules/slick-carousel/slick/fonts/' !default;
$slick-loader-path: '~modules/slick-carousel/slick/' !default;
$slick-arrow-color: $color !default;
@import '~modules/bootstrap/scss/bootstrap';

/*
  Base
*/
@import 'base/reset';
@import 'base/fonts';
@import 'base/animation';

/*
  Utils
*/
@import 'base/utilities';

/*
  Components
*/
@import './components/component';
@import './components/other-component';

/*
  Layout
*/
@import './layout/layout';
@import './layout/other-layout';
@import './layout/header';

/*
  Pages
*/
@import './pages/index';
@import './pages/home';
@import './pages/service';
