/* src/assets/styles/base/_custom.scss  */

// Color
$color: #000;
$bgcolor: #fff;
$white: #fff;
$black: #000;

// Bootstrap
$primary: #ffcc01;
$secondary: #1f373d;
$link-hover-color: lighten($primary, .7);

$navbar-light-color: $black;
$navbar-light-hover-color: $link-hover-color;
$navbar-light-active-color: $primary;
