/* src/assets/styles/components/_component.scss */
@import '../abstracts';

.component {
  // 1. extend other
  @extend .other-component;

  // 2. mixins
  @include is-flex();

  // 3. other property

  // Layout properties
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  // Position properties
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // Box model properties
  width: 100px;
  height: 200px;
  padding: 10px 0;
  margin: auto 10px;

  // Visual Properties
  $rounded-corners: false;
  background: $white;
  color: $primary;
  border: 1px solid $dark;
  border-radius: if($rounded-corners, 5px, null);
  outline: 0;
  box-shadow: 0 5px 0 $white;

  // Typography properties
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;

  // Mics properties
  cursor: pointer;
  overflow: auto;
  z-index: 9;

  // CSS3 properties
  transform: scale(2);
  transition: all 0.3s;

  // Pseudo class
  &:hover {
  }

  &:after {
  }

  &:first-child {
  }

  // Breakpoint sorted descending
  @include md {
  }

  @include lg {
  }

  @include xl {
  }

  // Selector
  &__list {
  }

  .selector {
  }
}
