/* src/assets/styles/utils/_mixins.scss  */
@use 'sass:map';

@mixin is-flex($align: center, $justify: center, $direction: row, $wrap: wrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin bg-image($url, $repeat: no-repeat, $position: center, $size: initial) {
  background-image: url($url);
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}

@mixin font($fFamily, $fSizes, $fWeight) {
  font-family: $fFamily;
  font-weight: $fWeight;

  @each $breakpoint,
  $fSize in $fSizes {
    @if $breakpoint=='xxl' {
      @include xxl {
        font-size: $fSize;
      }
    }

    @else {
      @include media-breakpoint-down($breakpoint) {
        font-size: $fSize;
      }
    }
  }
}

@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }

  #{$property}: $value;
}

// iOS devices
@mixin iOSDevices {
  @supports (-webkit-overflow-scrolling: touch) {
    @content;
  }
}

// XSmall devices
@mixin xs {
  @include media-breakpoint-down(xs) {
    @content;
  }
}

// Small devices
@mixin sm {
  @include media-breakpoint-down(xs) {
    @content;
  }
}

// Medium devices
@mixin md {
  @include media-breakpoint-down(md) {
    @content;
  }
}

// Large devices
@mixin lg {
  @include media-breakpoint-down(lg) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @include media-breakpoint-down(xl) {
    @content;
  }
}

// Retina devices
@mixin xxl {
  @include media-breakpoint-up(xxl) {
    @content;
  }
}
